@model IEnumerable<BasketVM>
    <section id="Cart">
        <div class="container">
            <div id="mainforcart">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="    background: #383838;;
                                    ">
                                        <th class="pro-thumbnail"></th>
                                        <th class="pro-title">Product Name</th>
                                        <th class="pro-price">Unit Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th style="color:white" class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BasketVM basketVM in Model)
                                {
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img
                                          src="~/assets/images/@basketVM.Image" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">@basketVM.Title</a></td>
                                        <td class="pro-price"><span>@basketVM.Price</span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty">
                                                <div class=" inputer count-input-block">
                                                    <a  class="minus" asp-controller="basket" asp-route-id="@basketVM.Id" asp-action="RemoveBasket">
                                                        <button type="submit" class="minus">
                                                        <i class="fa-solid fa-minus"></i>
                                                        </button>
                                                    </a>
                                                    <input style="width: 50px; height: 37px; padding-left: 18px;" type="text" value="@basketVM.Count"/>
                                                    <a class="plus" asp-action="AddBasket"  asp-controller="basket"  asp-route-id="@basketVM.Id" asp-action="plus">
                                                        <button type="submit" class="plus"><i class="fa-solid fa-plus"></i></button>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="pro-subtotal"><span>$@(basketVM.Price*basketVM.Count)</span></td>
                                        <td id="pro-remove">
                                            <a class="rmvproduct" asp-action="DeleteBasket" asp-controller="basket" asp-route-id="@basketVM.Id" ><i class="fa-regular fa-trash-can  "></i></a>
                                         </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section id="Aftercart">
        <div class="container">
            <div class="aftercartal">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <div>
                           <h3>Cart Totals</h3>
                    </div>
                    <hr style="color: #a3a3a3; width: 55%; padding-bottom: 20px;">
                    <table class="table">
                        <tbody >
                          <tr class="specialtr" style="border-style: none; " >
                            <th style="border-style: none; " class="subtotals" scope="row">Subtotals</th>
                            <td style="border-style: none; " class="priceaftercart">$@Model.Sum(b=>b.Price)</td>
                          </tr>
                          <tr style="border-style: none;">
                            <th style="border-style: none;" class="shippings" scope="row">Shipping</th>
                            <td style="border-style: none;" class="priceaftercart">$@Model.Sum(b=>b.Shipping)</td>
                          </tr>
                          <tr style="visibility: hidden;">
                            <th style="border-style: none;" scope="row">
                                <td style="border-style: none;" class="adreschange">Change Address</td>
                            </th>
                          </tr >
                          @*<tr style="border-style: none;">
                            <th style="border-style: none;color: white;" scope="row">Total</th>
                            <td style="border-style: none; color: rgb(160, 111, 20);" id="shippings"  class="priceaftercart">$@(Model.Sum(b=>b.Price) + Model.Sum(b=>b.Shipping))</td>
                          </tr>*@
                        </tbody style="border-style: none;">
                      </table>
                      <hr style="color: #a3a3a3; width: 55%; padding-bottom: 20px;">
                      <div id="Countryadres">
                        <a href="">Change Address</a>
                        <div class="countryclick">
                            <div class="container demo">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="form-label col-sm-3">Country</label>
                                        <div class="col-sm-5">
                                            <select id="country" name="country" class="form-control"></select>
                                        </div>
                                    </div><!--/.form-group-->
                                    <div class="form-group">
                                        <label class="form-label col-sm-3">State</label>
                                        <div class="col-sm-4">
                                            <select name="state" id="state" class="form-control"></select>
                                        </div>
                                    </div><!--/.form-group-->
                                </form>
                                
                            </div>
                        </div>
                        <div class="checkoutfor">
                            <button><a href="">Proceed to Checkout</a></button>
                        </div>
                      </div>
                      <hr style="color: #a3a3a3; width: 55%; margin-top: 2rem;">

                      <div id="show" class="text-center d-none">
                        <div class="s-img">
                            <!-- <img class="img-fluid" src="assets/images/undefined.png" alt="">    -->
                        </div>
                        <div class="s-text">
                           <h2>Your Cart Is Empty</h2>
                           <a class="btn" href="index.html">Go To Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
