@model IEnumerable<Category>
@{
    int count = 0;
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Image</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th>Product Count</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category category in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@category.Name</td>
                <td>@category.CreatedAt.ToString("dd-MMM-yyyy").ToUpper()</td>
                <td>@category.CreatedBy</td>
                <td>@category.Products?.Count()</td>
                <td>
                    <a asp-area="boss" asp-controller="Category" asp-action="Detail" asp-route-id="@category.Id" class="btn btn-primary">Detail</a>
                    <a asp-area="boss" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn btn-warning " style="margin:0 5px;">Update</a>
                    <a asp-area="boss" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger ">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
