@model ShopVM
@{
    ViewData["Title"] = "Index";
}
<div class="shopheader">
    <a asp-controller="home">Home</a>
    <span>></span>
    <a asp-controller="shop">Shop</a>
    <span><hr style="margin: 30px 27px;"></span>
</div>
<section id="Main">
    <div class="container px-lg-50px px-sm-15px px-md-15px px-15px">
        <div class="row">
            <div class="left col-xl-3 col-lg-3 col-md-12 col-12">
                <div class="hidden-close">
                    <button id="closeproductsidebar">Close <i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="categories">
                    <h3>CATEGORIES</h3>
                    <div class="list">
                        @if (Model.Categories != null && Model.Categories.Count() > 0)
                        {
                            @foreach (Category parent in Model.Categories)
                            {
                                <div class="item">
                                    <button type="button"> <a data-id="@parent.Id" class="categorybtn" asp-action="filter" asp-controller="product" asp-route-categoryId="@parent.Id">@parent.Name</a></button>
                                </div>
                            }
                        }
                    </div>

                </div>
                <div class="price">
                    <h3>PRICE</h3>
                    <div class="range">
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" id="min" class="range-min" min="100" max="850" value="value=" @((int)Math.Ceiling((decimal)Model.Products.Min(p => p.Price)))" step="1" />
                            <input type="range" id="max" class="range-max" min="100" max="850" value="value=" @((int)Math.Ceiling((decimal)Model.Products.Max(p => p.Price)))" step="1" />

                        </div>
                        <div id="range" class="price-input ">
                            <span style="color: #868686;">Range : </span>
                            <span class="value">$100</span>
                            <span> - </span>
                            <span class="value">$850</span>
                        </div>
                    </div>
                </div>
                <div class="shopbrands">
                    <h3>Brands</h3>
                    <div>
                    @foreach (Brand brand in Model.Brands)
                    {
                    <div class="item">
                    <a asp-controller="product" asp-action="filter" asp-route-brandId="@brand.Id" class="ctgname"><label>@brand.Name</label></a>
                    
                    </div>
                    }
                    </div>
                    @*<div class="item">
                        <a class="ctgname"><label>Rolex</label></a>
                        <div class="count">(5)</div>
                    </div>
                    <div style="margin: 10px 0 5px 0 ;" class="item">
                        <a class="ctgname"><label>Patek Philippe</label></a>
                        <div class="count">(3)</div>
                    </div>*@

                </div>
                <hr>
                <div class="shopbrands-2">
                    <h3>Color</h3>
                    <hr>
                    <div class="item">
                        <a class="ctgname"><label>Gold</label></a>
                        @*<div class="count">(3)</div>*@
                    </div>
                    <div class="item">
                        <a class="ctgname"><label>Green</label></a>
                      @*  <div class="count">(2)</div>*@
                    </div>
                    <div class="item">
                        <a class="ctgname"><label>White</label></a>
                        @*<div class="count">(1)</div>*@
                    </div>
                    @*<div>
                    @foreach (Color color in Model.Colors)
                    {
                    <div class="item">
                    <a class="ctgname" asp-controller="product" asp-action="filter" asp-route-id="@color.Id"><label>@color.Name((color.Name.Count()))</label></a>
                    <div class="count">(2)</div>
                    </div>
                    }
                    </div>*@
                </div>
                <div class="feature">
                    <h3>FEATURE PRODUCT</h3>
                    <div class="size-div">
                        <a href="product.html">
                            <div class="item">
                                <div class="img-div">
                                    <img src="~/assets/images/saats3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="rating">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="title">
                                        <a href="">Donec a enim a ipsum loborti...</a>
                                    </div>
                                    <div class="price-div">
                                        <p>$525.00</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="product.html">
                            <div class="item">
                                <div class="img-div">
                                    <img src="~/assets/images/saats5.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="rating">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="title">
                                        <a href="">Donec a enim a ipsum loborti...</a>
                                    </div>
                                    <div class="price-div">
                                        <p>$205.00</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="product.html">
                            <div class="item">
                                <div class="img-div">
                                    <img src="~/assets/images/saats7.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="rating">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="title">
                                        <a href="">Donec a enim a ipsum loborti...</a>
                                    </div>
                                    <div class="price-div">
                                        <p>$325.00</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="product.html">
                            <div class="item" style="border-bottom: none;">
                                <div class="img-div">
                                    <img src="~/assets/images/saats8.jpg" alt="">
                                </div>
                                <div class="details">
                                    <div class="rating">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                    <div class="title">
                                        <a href="">Donec a enim a ipsum loborti...</a>
                                    </div>
                                    <div class="price-div">
                                        <p>$225.00</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="right col-xl-9 col-lg-9 col-md-12 col-12">
                <div class="all-div">
                    <div class="sag">
                        <i id="openproductsidebar" class="fa-solid fa-sliders"></i>
                        <p id="showing">Showing 12 results</p>
                    </div>
                </div>
                <div id="products" class="row">
                    @await Html.PartialAsync("_ShopViewPartial",Model.Products)
                </div>
            </div>
        </div>
</section>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/base/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type='text/javascript'>
    $(document).ready(function () {
        let categoryId = -1;
        let colorId = -1;
        let brandId = -1;
        let min = -1;
        let max = -1;
        //$(".sb-range-slider").slider({
        //    range: true,
        //    min: @Model.MinimumPrice,
        //    max: @Model.MaximumPrice,
        //    values: [@Model.MinimumPrice, @Model.MaximumPrice],
        //    slide: function (event, ui) {
        //        $("#amount").val("£" + ui.values[0] + " - £" + ui.values[1]);
        //        min = ui.values[0];
        //        max = ui.values[1];

        //        let path = [];

        //        if (categoryIds.length > 0) {
        //            path.push(`categoriesText=${categoryIds.join(",")}`);
        //        }

        //        if (BrandIds.length > 0) {
        //            path.push(`brandsText=${brandIds.join(",")}`);
        //        }

        //        if (ColorIds.length > 0) {
        //            path.push(`colorsText=${colorIds.join(",")}`);
        //        }

        //        if (min > -1) {
        //            path.push(`min=${min}`)
        //        }

        //        if (max > -1) {
        //            path.push(`max=${max}`)
        //        }
        //        console.log('test');
        //        /*sortby = $('.nice-select.sort-select option:selected').val();*/

        //        //if (sortby > -1) {
        //        //    path.push(`sortby=${sortby}`)
        //        //}

        //        fetch(`shop/filter?${path.join('&')}`)
        //            .then(res => {
        //                return res.text()
        //            })
        //        .then(data => {
        //            $('.shopProductList').html(data)
        //        })
        //    }
        //})

        $(document).on('click', '.categorybtn', function (e) {
            e.preventDefault();
            let path = []
            if (categoryId > -1) {
                $(this).css('color', '#EC9705')
                categoryId = -1
            } else {
                $(this).css('color', '#EC9705')
                categoryId = $(this).attr('data-id')
            }
            path.push(`categoryId=${categoryId}`)

            if (brandId > -1) {
                path.push(`brandId=${brandId}`)
            }
            //if (min > -1) {
            //    path.push(`min=${min}`)
            //}
            //if (max > -1) {
            //    path.push(`max=${max}`)
            //}
            //if (val > -1) {
            //    path.push(`val=${val}`)
            //}
            fetch('shop/filter?' + path.join('&'))
                .then(res => res.text())
                .then(data => $("#products").html(data))
        })
        $(document).on('click', '.ctgname', function (e) {
            e.preventDefault();
            let path = []
            if (brandId > -1) {
                $(this).css('color', '#EC9705')
                brandId = -1
            } else {
                $(this).css('color', '#FFF')
                brandId = $(this).attr('data-id')
            }
            path.push(`brandId=${brandId}`)
            if (categoryId > -1) {
                path.push(`categoryId=${categoryId}`)
            }
            //if (min > -1) {
            //    path.push(`min=${min}`)
            //}
            //if (max > -1) {
            //    path.push(`max=${max}`)
            //}
            //if (val > -1) {
            //    path.push(`val=${val}`)
            //}
            fetch('shop/filter?' + path.join('&'))
                .then(res => res.text())
                .then(data => $("#products").html(data))

        })
    })
</script>
